body{
    text-align:center;
  }  
  /*Style for paragraph tag*/
  #firstp{
    word-spacing: 10px;
    font-variant: small-caps;
    text-align: center;
    font-size: 80px;
  }
  
  #membername{
    font-size:50px;
  }
  
  /*style for image tag*/
  #album
  {
    border-style:dotted;
    border-color:purple;
    border:1px ;
    border-radius: 180px;
    padding: 5px;
    width: 450px;
  }
  